
*, *::after, *::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0px;
}

h1{
  font-size: 4rem;
  font-weight: 900;
}
h2{
  font-size: 3.6rem;
}
h3{
  font-size: 3.2rem;
}
h4{
  font-size: 2.8rem;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
img {
  max-width: 100%;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.6rem;
  background-image: linear-gradient(rgba(0,0,0,50%), rgba(0,0,0,50%)), url(./img/DogWelcome.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}