.bgForm {
    background-image: linear-gradient(rgba(0, 0, 0, 70%), rgba(0, 0, 0, 70%)), url(../../img/BGForm.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    color: #252223;
    max-width: 80rem;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.container a {
    padding: 1rem 2rem;
    background-color: #ffffff;
    font-size: 1.8rem;
    border-radius: .5rem;
}

.container a img {
    width: 1.5rem;
    margin-right: 1rem;
}

.formBox {
    border-radius: .5rem;
    margin-top: 3rem;
    color: #252223;
    background-color: #ffffff;
    padding: 2rem;
}


.formContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;
}

.formBox span {
    font-size: 1.4rem;
}

.formContainer label {
    flex: 0 0 20%;
}

.formContainer input {
    border: none;
    padding: 1rem;
    flex: 0 0 75%;
    background-color: #CCCCCC;
}

.formContainer select {
    width: 40rem;
    height: 10rem;
}

.imgContainer {
    max-width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 40rem);
}

.urlImg {
    width: 50%;
}

.fileImg {
    width: 50%;
}

.submitButton {
    border-radius: .5rem;
    border: none;
    background-color: #252223;
    padding: 1rem 3rem;
    color: #ffffff;
    cursor: pointer;
}


.required {
    margin: 0 auto;
    width: 35rem;
    display: flex;
}


.message {
    background-color: #198754;
    color: #ffffff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.message h2 {
    margin: 0;
}

.messageError {
    display: flex;
    justify-content: center;
    background-color: #f34336;
    color: #ffffff;
    font-weight: bold;
    padding: 2rem;
    margin-bottom: 1rem;
}
.messageError p {
    margin: 0;
}