.formContainer {
    display: flex;
    justify-content: flex-end;
}

.formContainer {
    padding: 0 2rem;
}

.container {
    text-align: center;
    border-radius: .5rem;
}

.container p {
    margin: 0;
    margin: .5rem;
}

.container select {
    border-radius: .5rem;
    padding: .8rem;
    border: none;
}