.container {
    text-align: center;
    margin-top: 1rem;
}

.containerDogs {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 30rem);
    justify-content: center;
    gap: 3rem
}

.components {
    max-width: 120rem;
    margin: 4rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}