.container {
    max-width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 30%), rgba(0, 0, 0, 30%)), url(../../img/DogWelcome.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Welcome {
    margin: 0 auto;
    border-radius: .5rem;
    background-color: #00000050;
    height: 40rem;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
}
.Welcome h1 {
    margin-bottom: 1rem;
}

.Welcome button {
    margin-top: 2rem;
    border-radius: .5rem;
    background-color: #c37d28;
    color: rgb(236, 235, 235);
    border: none;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1.5rem 4rem;
    transition: all ease-in-out .2s;
}

.Welcome button:hover {
    background-color: #583b1e;
    color: #FFFFFF;
}