.pagination {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 100rem;
    padding: 1rem 0;
}
.pageContainer {
    
}

.pageLink {
    color: #FFFFFF;
    padding: .5rem 1.5rem;
    margin-left: .5rem;
    line-height: 1.25;
    background-color: #c37d28;
    border: 1px solid #583b1e;
    transition: all ease-in-out .2s;
    cursor: pointer;
}

.pageLink:hover {
    background-color: #583b1e;
}